@import url("https://fonts.googleapis.com/css?family=Lora|Montserrat");

body {
  align-items: center;
  font-family: "Montserrat", Garamond, sans-serif;
}

#content {
  max-width: 720px;
  margin: 0 auto;
  background-color: white;
}

header img {
  width: 180px;
  float: right;
  margin: -90px 20px 0px 0px;
  box-shadow: 5px 5px 10px grey;
}

h1,
footer {
  color: white;
  border-radius: 25px;
}

h1 {
  background-color: #386641;
  padding: 20px 125px;
  height: 50px;
  font-size: 40px;
}

h2 {
  border-bottom: 1px solid #ccc;
  margin-left: 10px;
}

footer {
  background-color: #96616b;
  padding: 5px 0px 55px 25px;
  height: 30px;
  text-align: center;
}

footer a {
  color: #f7fff7;
}

a {
  color: #96616b;
}
