html {
   background-color: #86A5AE;
}

body {
   max-width: 960px;
   margin: 0 auto;
   background-color: #FFF5EE;
   padding: 1em;
}

h1,
h2,
h3 {
   font-family: "Montserrat", Garamond, sans-serif;
}

h1 {
   color: #FFF5EE;
}

h2 {
   color: #3A405A;
   border-bottom: .5px solid #3A405A;
}

header {
   padding: 1em;
   text-align: center;
   background-color: #3A405A;
}

img {
   width: 80px;
}

nav {
   line-height: 2em;
   font-family: "Montserrat", Garamond, sans-serif;
}

nav ul {
   list-style: none;
   display: block;
}

nav ul li {
   text-align: center;
}

nav a {
   font-size: 1em;
   padding: 1em;
}

nav a:link,
nav a:visited {
   color: #F3D39B;
   text-decoration: none;
}

nav a:hover {
   color: #3A405A;
   background-color: #86A5AE;
}

p {
   font-family: "Lora", Arial, serif;
   color: #1F1F1F;
}

#logo {
   display: block;
}

footer {
   border-top: .5px solid #3A405A;
}

footer a:link,
a:visited {
   color: #3A405A;
}

#palette {
   width: 300px;
}

.colors {
   width: 100%;
   min-width: 350px;
   margin: auto;
   text-align: center;
}

.colors th {
   background-color: #999;
}

.colors td {
   width: 20%;
   height: 3em;
}

.primary {
   background-color: #86a5ae;
}

.secondary {
   background-color: #3a405a;
   color: #fff5ee;
}

.accent1 {
   background-color: #f3d39b;
}

.accent2 {
   background-color: #fff5ee;
}

.accent3 {
   background-color: #1f1f1f;
   color: #fff5ee;
}

.color-details li, .scenarios li {
   padding: 5px;
   font-family: "Lora", Arial, serif;

}

.lora {
   font-family: "Lora", Arial, serif;
}
