@media only screen and (min-width: 64em) {

   nav button {
      display: none;
   }

   .city-grid {
      grid-template-columns: 1fr 1fr 1fr;
   }

   .cards {
      grid-template-columns: 1fr 1fr 1fr;
   }

   .contact-grid {
      grid-template-columns: 1fr 1fr 1fr;
   }
}