@media only screen and (min-width: 32.5em) {

   nav ul,
   nav ul.hide {
      grid-template-columns: repeat(2, 1fr);
      display: grid;
   }

   .motto {
      padding-left: 50px;
   }

   header .wrap {
      display: flex;
      text-align: left;
   }

   nav button {
      display: none;
   }

   .weather-summary {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 38px;
   }

   .article-img {
      float: right;
   }

   .map-contact {
      display: flex;
   }

   .map-img {
      width: 100%;
   }

   .contact {
      margin-left: 20px;
   }

}