.picture-gallery {
   display: flex;
   flex-direction: column;
}

img {
   width: 300px;
   height: 400px;
   filter: blur(0em);
   transition: filter 1s;
}

img[data-src] {
   filter: blur(0.2em);
}